.StudentCard {
	border-radius: 32px;
	padding: 40px;
	width: 1088px;
	height: 820px;
	background: var(--neutral-white);
	padding-bottom: 0;
	&__inner {
		height: calc(100% - 75px);
		display: flex;
		flex-direction: column;
	}
	&__content {
		margin-top: 24px;
		padding-left: 10px;
		overflow-y: auto;
		height: 100%;
		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			width: 100%;
			background: var(--neutral-lightest);
			margin: 16px 0;
			cursor: pointer;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 2px;
			width: 100%;
			background: var(--neutral-medium);

			&:hover {
				background: #5a5757;
			}
		}

	}
	&__header {
		&_top {
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 24px;
		}
	}
	&__studentName {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		color: var(--neutral-darkest);
	}
	&__footer {
		margin-top: auto;
		height: 72px;
		padding: 12px 0px 40px 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid var(--neutral-light);
		span {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			color: var(--neutral-medium);
		}
	}
}
