.Layout{
background: var(--neutral-lightest);
min-height: 100vh;
    &__container {
padding: 40px;
display: flex;
align-items: start;
gap: 44px;
height: 100%;
    }
}
.DashboardWrapper {
    height: calc(100vh - 80px);
}