.StatisticsBlock {
	border-radius: 32px;
	padding: 32px 32px 40px;
	width: 528px;
	height: 336px;
	background: var(--neutral-white);
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		text-align: center;
		color: var(--neutral-darkest);
	}
	&__body {
		width: 100%;
		height: 100%;
		max-width: 464px;
		max-height: 212px;
	}
	&__pie_text_value {
		fill: var(--neutral-darkest);
		text-anchor: middle;
		dominant-baseline: central;
		font-size: 24px;
		font-family: var(--font-family);
		font-weight: 700;
		line-height: 150%;
		color: var(--neutral-darkest);
	}
	&__pie_text_label {
		fill: var(--neutral-medium);
		text-anchor: middle;
		dominant-baseline: central;
		font-size: 12px;
		font-family: var(--font-family);
		font-weight: 400;
		line-height: 167%;
		text-align: center;
		color: var(--neutral-medium);
	}
}
.MuiChartsTooltip {
	&-root {
		border-radius: 8px !important;
	}
	&-paper {
		border-radius: 8px !important;
		background-color: var(--neutral-dark) !important;
	}
	&-valueCell {
		font-family: var(--font-family) !important;
		font-weight: 700 !important;
		font-size: 12px !important;
		line-height: 167% !important;
		text-align: center !important;
		color: var(--neutral-white) !important;
	}
	&-labelCell {
		font-family: var(--font-family) !important;
		font-weight: 400 !important;
		font-size: 12px !important;
		line-height: 167% !important;
		text-align: center !important;
		color: var(--neutral-white) !important;
	}
	&-markContainer {
		display: none !important;
	}
	&-row {
		display: flex;
		flex-direction: column;
		padding: 5px;
	}
	&-root {
		padding: 0 !important;
	}
}
.MuiChartsLegend {
	&-item {
		width: 100%;
	}
	&-root {
		max-width: 228px;
	}
	&-label {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 12px;
		line-height: 167%;
		color: var(--neutral-darkest);
		text-wrap: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
