@use './shared/scss/fonts' as fonts;
@use './shared/scss/breakpoint' as breakpoint;
:root {
	--neutral-white: #fff;
	--black-color: #000;
	--neutral-dark: #494949;
	--neutral-black: #060606;
	--neutral-light: #d6d6d6;
	--neutral-medium: #7d7979;
	--primary-medium: #1baa7d;
	--primary-light: #7bcca9;
	--primary-dark: #198261;
	--neutral-lightest: #f5f5f5;
	--neutral-darkest: #303030;
	--primary-lightest: #ebfaf3;
	--primary-darkest: #0f4f3b;
	--negative-darkest: #4f140f;
	--negative-dark: #a92f22;
	--negative-medium: #e52914;
	--negative-light: #cc817b;
	--negative-lightest: #faeceb;
	--warning-darkest: #602706;
	--warning-dark: #ad4509;
	--warning-medium: #f06c20;
	--warning-light: #f2c5aa;
	--warning-lightest: #fdece3;

	--font-family: 'Zona Pro', sans-serif;
	--second-family: 'Unbounded', sans-serif;
	--third-family: 'Roboto', sans-serif;
	--dashboardMenu-width: 228px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	max-width: 1246px;
	padding: 0 15px;
	margin: 0 auto;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.is-hidden {
	/* stylelint-disable-next-line declaration-no-important */
	display: none !important;
}

a {
	text-decoration: none;
}

.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.input-reset {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: transparent;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

	outline: none;
}

.Table {
	width: 100%;
	&__scroll-container {
		max-height: 100%;
		overflow-y: auto;
		max-width: 1000px;
		width: 100%;
		scrollbar-width: thin;
	}
	&__tr {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 12px;
		line-height: 167%;
		color: var(--neutral-medium);
	}
	&__th {
		text-align: start;
		.cursor-pointer {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 8px 12px;
			border-radius: 12px;
			transition: background-color 0.2s ease-in-out;
			&:hover {
				background-color: #f5f5f5;
			}
		}

		.select-none {
			user-select: none;
		}
	}
	tbody {
		overflow-y: auto;
		max-height: 500px;
	}
}
.TableItem {
	position: relative;
	height: 60px;
	cursor: pointer;
	width: 80%;
	&__place {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 32px;
		height: 32px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@include breakpoint.mobile {
			width: 29px;
			height: 29px;
		}

		&_first {
			color: var(--neutral-white);
			background-image: url('/svg/first.svg');
		}

		&_second {
			color: var(--neutral-white);
			background-image: url('/svg/second.svg');
		}

		&_third {
			color: var(--neutral-white);
			background-image: url('/svg/third.svg');
		}

		&_other {
			span {
				color: var(--black-color);
			}
		}
		span {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
		}
	}
	&__name {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
		@include breakpoint.mobile {
			font-size: 16px;
		}
	}
	td {
		padding: 8px 12px;
	}
}
.TableItem__date,
.TableItem__modules,
.TableItem__time,
.TableItem__class,
.TableItem__name,
.TableItem__points,
.TableItem__subject,
.TableItem__classes,
.TableItem__studentsCount {
	border: none;
	margin: 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: var(--neutral-darkest);

	@include breakpoint.mobile {
		font-size: 16px;
	}
}
.TableItem__points {
	font-weight: 700;
}
.TableItem.TableItem--myStudent {
	.TableItem__done,
	.TableItem__time,
	.TableItem__name,
	.TableItem__class,
	.TableItem__parralelClass {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
}
