.ClassTable {
    border-radius: 32px;
padding: 40px;
width: 1088px;
height: 820px;
background: var(--neutral-white);
&__inner {
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
&__content {
    flex-grow: 1;
    height: calc(100% - 200px);
}
&__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
&__controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
}
&__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 140%;
color: var(--neutral-darkest);
}
&__footer {
    border-top: 1px solid var(--neutral-light);
    &_inner {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding-top: 12px;
        span {
            font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--neutral-medium);
        }
    }
}
}
.ClassTableFilters {
    border-radius: 20px;
padding: 12px 20px;
width: 100%;
height: 68px;
background: var(--neutral-lightest);
&__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
&__filters {
    display: flex;
    align-items: center;
    gap: 24px;
}
&__reset {
    font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 143%;
color: var(--primary-medium);
}
}