.StudentTable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	&__container {
		max-height: 100%;
		overflow-y: auto;
	}
	&__head {
		th {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 12px;
			line-height: 167%;
			color: var(--neutral-medium);
			text-align: start;
			.cursor-pointer {
				cursor: pointer;
				display: flex;
				align-items: center;
				gap: 8px;
				padding: 8px 12px;
				border-radius: 12px;
				transition: background-color 0.2s ease-in-out;
				&:hover {
					background-color: #f5f5f5;
				}
			}
		}
		
		&_id {
			padding-right: 50px;
		}
		&_module {
			padding-right: 50px;
		}
		&_inner {
			display: flex;
			align-items: center;
			gap: 5px;
		}
	}
}
.StudentTableItem {
	height: 60px;
	width: 100%;
	padding: 0 12px;
	position: relative;
	&__id,
	&__number,
	&__module,
	&__learningTime,
	&__mistakes {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
	&__points {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
	td {
		text-align: start;
		div {
			display: flex;
			justify-content: start;
		}
	}
	&__btn_more {
		&.active {
			svg {
				transform: rotate(180deg);
				transition: transform 0.15s ease-in-out;
			}
		}
	}
}
.AttestationTable {
	position: absolute;
	z-index: 11;
	top: 60px;
	left: 0;
	border-radius: 20px;
	padding: 16px 32px 20px;
	width: 1008px;
	height: 408px;
	background: var(--neutral-lightest);
}
